name: Android CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        architecture: x64
        # 【关键步骤1】手动下载 Gradle 到项目根目录
    - name: Manually Download Gradle
      shell: powershell
      run: |
        pwd
        d:
        cd D:/a/StockApp/StockApp
        # 简单下载
        Start-BitsTransfer -Source "https://services.gradle.org/distributions/gradle-8.4-all.zip" -Destination "D:/a/StockApp/StockApp/gradle-8.4-all.zip"

    # 【关键步骤2】修改 gradle-wrapper.properties 以使用本地文件
    - name: Configure Gradle Wrapper to use Local Distribution
      shell: powershell
      run: |
        Write-Host "Configuring gradle-wrapper.properties to use the local distribution..."
        # 将 distributionUrl 替换为指向项目根目录下文件的相对路径
        # gradle/wrapper/ -> ../.. -> 项目根目录
        (Get-Content gradle/wrapper/gradle-wrapper.properties) -replace 'distributionUrl=.*', 'distributionUrl=../../gradle-8.4-all.zip' | Set-Content gradle/wrapper/gradle-wrapper.properties
        Write-Host "Configuration updated. Content is now:"
        Get-Content gradle/wrapper/gradle-wrapper.properties # 打印出来确认修改成功
        nslookup google.com
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --info --stacktrace
    - name: 运行测试
      run: ./gradlew test
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
          name: android-build
          path: app/build/outputs/
