name: Android CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        architecture: x64
        # 【关键步骤1】手动下载 Gradle 到项目根目录
    - name: Manually Download Gradle
      run: |
        pwd
        # 简单下载
        wget "https://services.gradle.org/distributions/gradle-8.4-all.zip" -O gradle-8.4-all.zip

    # 【关键步骤2】修改 gradle-wrapper.properties 以使用本地文件
    - name: Configure Gradle Wrapper to use Local Distribution
      run: |
        cat gradle/wrapper/gradle-wrapper.properties # 打印出来确认修改成功
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --info --stacktrace
    - name: 运行测试
      run: ./gradlew test
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
          name: android-build
          path: app/build/outputs/
