name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        architecture: x64
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Download Gradle manually
      run: |
        wget https://github.com/gradle/gradle-distributions/releases/download/v8.13.0/gradle-8.13-bin.zip -P /tmp/
        unzip /tmp/gradle-8.13-bin.zip -d ~/.gradle/wrapper/dists/gradle-8.13-bin/
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: pwd
      run: pwd
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run tests
      run: ./gradlew test
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
          name: android-build
          path: app/build/outputs/
